container {
 	font-family: 'Lato', sans-serif;
 	color: #666666;
}

header h1,
header h4 {
	font-weight: 300;
}

header h1 {
	font-size: 50px;
}

header h4 {
	font-size: 25px;
}

hr {
	height: 2px;
}

.logo {
	width: 100px;
	margin-top: 15px;
}

h2 {
	color: #bcbbbb;
}

.portfolio-img {
	cursor: pointer;
}